/* image slider */
.imageSlider{
    display: flex;
    margin-top: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.carouselSlide {
    width: 1180px !important;
    display: flex;
    align-items: center;
}
.w-100 {
    width: 100%!important;
    border-radius: 10px;
}

/* Card */
.card-group{
    justify-content: center;
    margin: 30px auto;
    gap: 140px !important;

}
.card {
    align-items: center;
    border-radius: 20px !important;
    box-shadow: 4px 4px 9px #00000047;
    transition: all 0.2s ease;
    cursor: pointer;
    width: 130% !important;
    transition-duration: 0.7s;
}
.card:hover {
    box-shadow: 4px 4px 9px #00000047;
    transform: scale(1.1);
}
.card-img-top {
    width: 50% !important;
    margin: 20px auto;
}