/* .navbar__2 {
  height: 10vh;
  background: #8E24AA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo__2 {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 3rem;
  height: 3rem;
}

.nav-items__2 {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 17px;
  
}

.nav-item__2 {
  display: flex;
  align-items: center;
  height: 10vh;

}

.nav-item__2 a ,.nav-item__2 h3{
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
}



.nav-item__2 a:hover ,.nav-item__2 h3:hover{
  background: #e4572e;
  cursor: pointer;
  color: white;
  
}
.nav-item__2 ul{
  
  z-index: 2;
  padding-left: 0rem;
}
.submenu-item{
  background: #e4572e;
} */

.navbar__67 {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;


  font-size: 1.1rem;
}

.navbar-logo__67 {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  height: 7vh;
  width: 15vw;
}

.nav-menu__67 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 7rem;
  z-index: 2;
}

.nav-item__67 {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links__67  {
  color: white;
  text-decoration: none;
  padding: 0.2rem 1rem;
}
.nav-links__68{
text-decoration: none;
}

.nav-links__67:hover {
  cursor: pointer;
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
  height: 8vh;
  width: 17vw;
}

.nav-links-mobile__67 {
  display: none;
}

.menu-icon__67 {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems__67 {
    position: relative;
  }

  .nav-menu__67 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu__67.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links__67 {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links__67:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo__67 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon__67 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile__67 {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile__67:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
