nav {
  display: flex;
  gap: 80px;
  align-items: center;
  margin: 0 auto;
}

nav img {
  margin-right: auto;
  height: 65px;
  width: 335px
}
.circle {
  margin: 220px 0px 20px 60px;
}
body{
  /*background-image: url();*/
}