
.locationPicker{
    display: flex;
    flex-direction:row-reverse;
    margin: 1rem 0rem 1rem 0rem;
}
.locationPicker div{
 display: flex;
 flex-direction: row;
margin: 0rem 10rem 0rem 4rem;
gap: 1rem;
}
.heading{
    text-align: center
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container__AdCen {
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
}
.petCardBox{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
@media screen and (max-width: 650px) {
    .petCardBox{
        grid-template-columns: 1fr;
        align-items: center;
    }
  }
@media ( min-width: 650px) and (max-width: 850px) {
    .petCardBox{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
@media ( min-width: 850px) and ( max-width: 1100px) {
    .petCardBox{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media screen and ( min-width: 1100px) {
    .petCardBox{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and ( min-width: 1600px) {
    .petCardBox{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
