.div1{
    display: flex;
    flex-direction: row-reverse;
}
.div1 a{
    margin: 1rem 3rem;
}

.locationPicker{
    display: flex;
    flex-direction:row-reverse;
}
.locationPicker div{
 display: flex;
 flex-direction: row;
margin: 0rem 10rem 0rem 4rem;
gap: 1rem;
}
.heading{
    padding: 0;
}
